html, body{
    width: 100%;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header{
    display: flex;
    height: 50px;
    background-color: #539E7D;
    padding: 16px 30px;
}
header nav{
    text-align: right;
    width: 100%;
}

header a{
    padding: 12px 30px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

aside {
    display: list-item;
    width: 198px;
    height: 230px;
    background: linear-gradient(180deg, #529E7C 0%, rgba(82, 158, 124, 0) 100%);
}
aside a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 20px;
}