<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/login.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="../views/index.html">Home</a>
                <a>></a>
                <a>Employees</a>
            </nav>
            <img src="../assets/Logo.png" title="TRACKGENIX" alt="trackgenix-logo" height="60">
            <nav>
                <a>Log in</a>
                <a href="../views/sing-up.html">Sing up</a>
            </nav>
        </header>
        <section>
            <div class="form-cont">
                <h1>Log In</h1>
                <form>
                    <div>
                        <input type="email" name="name" placeholder="E-mail">
                        <p class="txt-hide">
                            The email you entered isn't registered.
                        </p>
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="Password">
                        <p class="txt-hide">
                            The password you've entered is incorrect.
                        </p>
                    </div>
                    <div class="separate">
                        <div>
                            <input type="checkbox" id="rem-me">
                            <label for="rem-me">Remember me?</label>
                        </div>
                        <a href="#">Forgot password?</a>
                    </div>
                </form>
                <div>
                    <input type="submit" class="btn" name="submit" value="Continue">
                </div>
            </div>
        </section>
    
    
    
    
    </body>
</html>